<section>
    <div id="main-wrapper">
        <form [formGroup]="form">
            <div id="session-toggle">
                <div id="login-toggle" class="toggle">
                    <input type="radio" id="login" name="sessionType" value="login" formControlName="sessionType">
                    <label for="login">Iniciar sesión</label>
                </div>
                <div id="signup-toggle" class="toggle">
                    <input type="radio" id="signup" name="sessionType" value="signup" formControlName="sessionType">
                    <label for="signup">Registro</label>
                </div>
            </div>
            <div id="user-type-toggle">
                <div id="psicontacto-toggle" class="toggle">
                    <input type="radio" id="psicontacto" name="userType" value="psicontacto" formControlName="userType">
                    <label for="psicontacto">PsiContacto</label>
                </div>
                <div id="user-toggle" class="toggle">
                    <input type="radio" id="user" name="userType" value="user" formControlName="userType">
                    <label for="user">Usuario</label>
                </div>
            </div>
        </form>
        <ps-login *ngIf="form.value.sessionType === 'login'"></ps-login>
        <ps-signup
            *ngIf="form.value.sessionType === 'signup'"
            (clearError)="onClearError()"
            (session)="onSignUp($event)"
            [isLoading]="isLoading"
            [userError]="userError"
        ></ps-signup>
    </div>
</section>